<div
    class=" bg-gray-900 text-white flex flex-col items-center justify-center min-h-screen w-full md:overflow-hidden md:max-w-screen">
    <div class="flex flex-col items-center gap-8">
        <!-- Profile Section -->
        <div class="flex flex-col gap-8 items-center">
            <!-- Profile Picture -->
            <div class="mobile:w-6/9 md:w-25 md:h-60 rounded-full overflow-x-hidden mobile:p-9">
                <img src="../../assets/dev.jpeg" alt="Profile" class="w-full h-full object-cover">
            </div>
            <!-- JSON Data -->
            <div class="flex gap-4">
                <a href="#"
                    class="flex items-center justify-center w-12 h-12 rounded-full bg-gradient-to-r from-purple-500 to-blue-500 hover:opacity-90 transition">
                    <span class="text-white text-lg">in</span>
                </a>
                <a href="#"
                    class="flex items-center justify-center w-12 h-12 rounded-full bg-gradient-to-r from-purple-500 to-blue-500 hover:opacity-90 transition">
                    <span class="text-white text-lg">X</span>
                </a>
                <a href="#"
                    class="flex items-center justify-center w-12 h-12 rounded-full bg-gradient-to-r from-purple-500 to-blue-500 hover:opacity-90 transition">
                    <span class="text-white text-lg">🎥</span>
                </a>
            </div>
            <div>
                <!-- <pre class="text-left text-green-400 text-sm">
                    {{
{
"name": "{{ profile.name }}",
"occupation": "{{ profile.occupation }}",
"likes": ["{{ profile.likes.join('", "') }}"]
}
}}

        </pre> -->
            </div>
        </div>

    </div>
</div>