<div class="mobile:flex mobile:flex-col w-full h-full overflow-hidden mobile:text-sm bg-gray-100 min-h-full p-8">
    <!-- Portfolio Header -->
    <div class="text-left mobile:-mb-25 mobile:pl-0 mobile:-ml-5">
        <h1 class="section-title">Portfolio</h1>
        <div class="flex justify-center w-full">
            <h2 class="mobile:font-medium text-4xl font-bold text-gray-900 mt-2 font-montserrat">About Me</h2>
            <div class="mobile:my-10 mobile:ml-0  w-1/2 bg-gray-900 h-1 rounded md:mt-7 md:ml-20 "></div>
        </div>
    </div>

    <!-- My intro Section -->
    <div class="flex flex-wrap space-y-5 mt-10">
        <p>
            I am a passionate and results-driven Backend Engineer with a proven track record in developing scalable,
            high-performance server systems and cross-platform applications. My expertise lies in optimizing backend
            architectures to ensure efficiency and reliability.
        </p>
        <p>
            As a strong collaborator, I thrive on innovative problem-solving and continuous learning. I am dedicated to
            delivering robust, scalable solutions while staying open to new challenges and opportunities for growth.
        </p>
        <p>some of my significant achievements includes the co-building of a mobile app that can make call to PSTN
            (public
            switch telephone Network) for a private body, Integration of AI into a CRM to act as a lead Qualifier for a
            Real
            Estate company. this experience reflects my dedication to delivering solutions that not only push
            technological
            boundaries but also priotize user trust and data privacy.</p>
        <p>Beyond the screen, I find my solace in the intricate strategies of chess, where the game's complexity
            parallels
            my
            pursuit of excellence in problem-solving and strategic thinking.
        </p>
    </div>
</div>