<div class="mobile:flex mobile:flex-col w-full h-full overflow-hidden mobile:text-sm bg-gray-100 min-h-full p-8">
    <!-- Portfolio Header -->
    <div class="text-left mobile:-mb-25 mobile:pl-0 mobile:-ml-5">
        <h1 class="section-title">Portfolio</h1>
        <div class="flex justify-center w-full">
            <h2 class="mobile:font-medium text-4xl font-bold text-gray-900 mt-2 font-montserrat">About Me</h2>
            <div class="mobile:my-10 mobile:ml-0  w-1/2 bg-gray-900 h-1 rounded md:mt-7 md:ml-20 "></div>
        </div>
    </div>

    <!-- My intro Section -->
    <div class="flex flex-wrap space-y-5 mt-10">
        <p *ngFor="let item of aboutMe">
            {{item.description}}
        </p>

    </div>
</div>